# Weekly exercise 7: Simple Pandas exercises

In this exercise you will analyze some data on occupations.

In [2]:
import pandas as pd

## Task 1

- Import the data from  [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user)  
- Assign it to a variable called `users`  
- Output the number of variables and the number of observations  
- List the variables  
- To take a first look at the data output the first 15 observations

In [ ]:
# write your code here

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_csv(url,sep='|') # the file has | instead of , for separator
print('The number of observations = %d\nNumber of variables = %d'%users.shape)
users.info()
users.head(n=15)

The number of observations = 943
Number of variables = 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user_id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301

## Task 2

Compute the mean age per occupation

In [ ]:
# write your code here

In [ ]:
users.groupby('occupation').age.mean()

## Task 3

Compute the female ratio per occupation and sort it from the most to the least

Hint: write a function and use *apply* method to convert M/F symbols to integers, if needed.

In [ ]:
# write your code here

In [4]:
convert = lambda x: 0 if x=='M' else 1
users['gendern'] = users.gender.apply(convert)
# users[['gender','gendern']].head(n=25)
dt = users.groupby('occupation').gendern.sum() / users.groupby('occupation').gendern.count()
dt.sort_values(ascending=False)

occupation
homemaker        0.857143
healthcare       0.687500
librarian        0.568627
artist           0.464286
administrator    0.455696
none             0.444444
writer           0.422222
marketing        0.384615
other            0.342857
student          0.306122
educator         0.273684
salesman         0.250000
lawyer           0.166667
entertainment    0.111111
scientist        0.096774
executive        0.093750
programmer       0.090909
retired          0.071429
technician       0.037037
engineer         0.029851
doctor           0.000000
Name: gendern, dtype: float64

## Task 4

For each occupation, calculate the minimum and maximum ages

In [ ]:
# write your code here

In [ ]:
users.groupby('occupation').age.agg(['min', 'max'])

## Task 5

For each combination of occupation and gender, calculate the mean age

In [ ]:
# write your code here

In [ ]:
users.groupby(['occupation', 'gender']).age.mean()

## Task 6

For each occupation present the percentage of women and men

Hint: you may find useful functions agg() and div()

In [ ]:
# write your code here

In [ ]:
# simple solution

dtF = 100* users.groupby('occupation').gendern.sum() / users.groupby('occupation').gendern.count()
dtM = 100 - dtF
print(dtF,dtM,sep='\n\n')

In [ ]:
# nicer solution using div

# create a data frame and apply count to gender
gender_ocup = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

# create a DataFrame and apply count for each occupation
occup_count = users.groupby(['occupation']).agg('count')

# divide the gender_ocup per the occup_count and multiply per 100
occup_gender = gender_ocup.div(occup_count, level = "occupation") * 100

# present all rows from the 'gender column'
occup_gender.loc[: , 'gender']

Special thanks to [https://github.com/justmarkham](https://github.com/justmarkham) for sharing the dataset and materials.

<img src="_static/img/youtube.png" style="width:65px;">

[https://youtu.be/vhm_QxbuKr0](https://youtu.be/vhm_QxbuKr0)